In [1]:
import pandas as pd

In [20]:
class Corona():
    def __init__(self,P,Q):
        self.P=P
        self.Q=Q
        
    def CoronaData():
        Country=["India","US","India","China","US"]
        Country=pd.DataFrame(Country)
        Country.rename(columns={0:"Country"},inplace=True)

        TotalCases=[61356,1327229,40000,82000,1027800]
        Totalcases=pd.DataFrame(TotalCases)
        Totalcases.rename(columns={0:"Totalcases"},inplace=True)

        NewCases=[3000,5444,2800,5000,2500]
        Newcases=pd.DataFrame(NewCases)
        Newcases.rename(columns={0:"Newcases"},inplace=True)


        TotalDeaths=[1600,2000,1700,6000,1479]
        Totaldeaths=pd.DataFrame(TotalDeaths)
        Totaldeaths.rename(columns={0:"Totaldeaths"},inplace=True)


        TotalRecovered=[140,380,378,899,590]
        Totalrecovered=pd.DataFrame(TotalRecovered)
        Totalrecovered.rename(columns={0:"Totalrecovered"},inplace=True)


        Data=pd.concat([Country,Totalcases,Newcases,Totaldeaths,Totalrecovered],axis=1)
        P=Data.drop(["Totaldeaths","Totalrecovered"],axis=1)
        Q=Data[["Totaldeaths","Totalrecovered"]]
        
        return P,Q
    
    def CoronaTotalCasesRate(self,P,Q,Corona_report=[]):
        for i in P.Totalcases:
            if i<50000:
                Corona_report.append("Low")
            elif i<100000:
                Corona_report.append("Medium")
            else:
                Corona_report.append("High")
                
        Corona_reportDataF=pd.DataFrame(Corona_report)
        Corona_reportDataF.rename(columns={0:"Corona_report"},inplace=True)  
        
        return Corona_reportDataF
    
    def CoronaFeatures(self,P,Q,Features_list=[]):
        for i in P:
            Features_list.append(i)
        for i in Q:
            Features_list.append(i)
            
        return Features_list    
    
    def CoronaUniqueFeatures(self,P,Q,Unique_values=[]):
        for i in P:
            Unique_values.append(set(P[i]))
        
        for j in Q:
            Unique_values.append(set(Q[j]))
        
        return Unique_values

In [ ]:
P,Q=Corona.CoronaData()

In [21]:
CoronaObj=Corona(P,Q)
CoronaObj.CoronaTotalCasesRate(P,Q)
CoronaObj.CoronaFeatures(P,Q)
CoronaObj.CoronaUniqueFeatures(P,Q)

[{'China', 'India', 'US'},
 {40000, 61356, 82000, 1027800, 1327229},
 {2500, 2800, 3000, 5000, 5444},
 {1479, 1600, 1700, 2000, 6000},
 {140, 378, 380, 590, 899}]

In [15]:
P

  Country  Totalcases  Newcases
0   India       61356      3000
1      US     1327229      5444
2   India       40000      2800
3   China       82000      5000
4      US     1027800      2500

In [16]:
Q

   Totaldeaths  Totalrecovered
0         1600             140
1         2000             380
2         1700             378
3         6000             899
4         1479             590